In [13]:
import sqlite3

connection = sqlite3.connect("sqlite_db_pythonsqlite.db")

In [14]:
cursor = connection.cursor()

In [15]:
command1 = """SELECT *
FROM FACILITIES"""

In [16]:
cursor.execute(command1)

In [17]:
cursor.execute("SELECT * FROM facilities")
results = cursor.fetchall()
print(results)

[(0, 'Tennis Court 1', 5, 25, 10000, 200), (1, 'Tennis Court 2', 5, 25, 8000, 200), (2, 'Badminton Court', 0, 15.5, 4000, 50), (3, 'Table Tennis', 0, 5, 320, 10), (4, 'Massage Room 1', 9.9, 80, 4000, 3000), (5, 'Massage Room 2', 9.9, 80, 4000, 3000), (6, 'Squash Court', 3.5, 17.5, 5000, 80), (7, 'Snooker Table', 0, 5, 450, 15), (8, 'Pool Table', 0, 5, 400, 15)]

/* Q12: Find the facilities with their usage by member, but not guests */

In [23]:
question12 = "SELECT Bookings.facid, Facilities.name, COUNT(memid) as amountused FROM Bookings JOIN Facilities ON Bookings.facid = Facilities.facid GROUP BY Facilities.facid ORDER BY amountused DESC"
cursor.execute(question12)